<!DOCTYPE html>
<html>
<head>
<title>RHR</title>
<!-- Bootstrap -->
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

 .map-fixed {
    padding: 9x 0;
    position: fixed;
    width : 20%;
}

    </style>
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Reproduciple home range</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Uni G&oumlttingen </p>
            <ul class="nav">
              <li class="active"><a href="#">about</a></li>
              <li><a href="load.rhtml">pre</a></li>
              <li><a href="#analysis">analysis</a></li>
              <li><a href="#post">post</a></li>
              <li><a href="#help">?rhr</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!--
    ============================================ -->
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span12">
          <div class="hero-unit" id="top">
            <h1>Reproducible Home Range analysis with R</h1>
            <p>This is a GUI to the rhr R-Package for conducting home range analysis</p>
          </div>

        <section id="rep">
        <div class="page-header">
          <h1>Why Reproducible Home ranges</h1>
        </div>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </section>


        <section id="howto">
        <div class="page-header">
          <h1>Rerproducability</h1>
        </div>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              </section>
        </div><!--/span-->


      <hr>

      <footer>
        <p>&copy; Johannes Signer 2012</p>
      </footer>

    </div><!--/.fluid-container-->

</body>
</html>
