          <% 


            if (!is.null(req$POST())) {
               sink("foo.txt")
		str(req$POST())
		dat <- fromJSON(req$POST()[['dat']])
		str(dat)
		cat(dat$bbx['xmin'])
		sink()
            } 
          %>
