export(alert)
export(alertError)
export(alertWarning)
export(dfGrob)
export(fidelityBase)
export(h1)
export(h2)
export(h3)
export(h4)
export(img)
export(p)
export(pBrhrEstimator)
export(plot.RhrFidelity)
export(plot.RhrMFidelity)
export(plotTTSI)
export(printSpRestriction)
export(printTemporalRestriction)
export(rhrArea)
export(rhrArea.RhrEstimatorKDE)
export(rhrArea.RhrEstimatorMCP)
export(rhrCoreArea)
export(rhrCoreArea.RhrEstimatorKDE)
export(rhrCoreArea.RhrEstimatorMCP)
export(rhrCorrectLevels)
export(rhrEstimator)
export(rhrEstimatorCharacteristic)
export(rhrFidelity)
export(rhrGUI)
export(rhrKDE)
export(rhrLoCoH)
export(rhrMCP)
export(rhrSchoener)
export(strShorten)
export(summaryGrob)
export(summary.RhrFidelity)
export(toHtml)
export(toHtml.data.frame)
export(toHtml.htest)
export(toHtml.summaryDefault)
export(ttestGrob)
useDynLib(rhr)
