export(code)
export(cud)
export(dat)
export(dfGrob)
export(h1)
export(h2)
export(h3)
export(h4)
export(hasCUD)
export(hasIsopleths)
export(hasUD)
export(img)
export(isopleths)
export(p)
export(parameters)
export(printSpRestriction)
export(printTemporalRestriction)
export(rhrAlert)
export(rhrArea)
export(rhrAsymptote)
export(rhrConvertUnit)
export(rhrCoreArea)
export(rhrCorrectLevels)
export(rhrEstimator)
export(rhrEstimatorCharacteristic)
export(rhrFidelity)
export(rhrGUI)
export(rhrHlscv)
export(rhrHpi)
export(rhrHref)
export(rhrKDE)
export(rhrLoCoH)
export(rhrMCP)
export(rhrSchoener)
export(rhrSetCUD)
export(rhrSetIso)
export(rhrSetUD)
export(rhrTTSI)
export(strShorten)
export(summaryGrob)
export(toHTML)
export(ttestGrob)
export(ud)
S3method(cud,RhrHREstimator)
S3method(hasCUD,RhrHREstimator)
S3method(hasIsopleths,RhrHREstimator)
S3method(hasUD,RhrHREstimator)
S3method(isopleths,RhrHREstimator)
S3method(parameters,RhrHREstimator)
S3method(plot,RhrHRAsymptote)
S3method(plot,RhrHRCoreArea)
S3method(plot,RhrHREstimator)
S3method(plot,RhrTTSI)
S3method(print,RhrHRAsymptote)
S3method(print,RhrHREstimator)
S3method(print,RhrTTSI)
S3method(rhrArea,RhrHREstimator)
S3method(rhrCoreArea,RhrHREstimator)
S3method(rhrSetCUD,RhrHREstimator)
S3method(rhrSetUD,RhrHREstimator)
S3method(toHTML,data.frame)
S3method(toHTML,htest)
S3method(toHTML,summaryDefault)
S3method(ud,RhrHREstimator)
useDynLib(rhr)
