export(alert)
export(alertError)
export(alertWarning)
export(code)
export(dfGrob)
export(fidelityBase)
export(h1)
export(h2)
export(h3)
export(h4)
export(img)
export(p)
export(pBrhrEstimator)
export(plotTTSI)
export(printSpRestriction)
export(printTemporalRestriction)
export(rhrArea)
export(rhrConvertUnit)
export(rhrCoreArea)
export(rhrCorrectLevels)
export(rhrEstimator)
export(rhrEstimatorCharacteristic)
export(rhrFidelity)
export(rhrGUI)
export(rhrKDE)
export(rhrLoCoH)
export(rhrMCP)
export(rhrSchoener)
export(strShorten)
export(summaryGrob)
export(toHTML)
export(ttestGrob)
S3method(rhrArea,RhrEstimatorKDE)
S3method(rhrArea,RhrEstimatorMCP)
S3method(rhrCoreArea,RhrEstimatorKDE)
S3method(rhrCoreArea,RhrEstimatorMCP)
S3method(toHTML,data.frame)
S3method(toHTML,htest)
S3method(toHTML,summaryDefault)
useDynLib(rhr)
