body {
     font-family: 'Ubuntu', arial, sans-serif;
     font-size: 12pt;
     margin-top: 5%;
     margin-bottom: 8%;
     background: #fff;
     color: #black;
     text-align : justify;

     margin-left: 15%; margin-right: 15%;
}


h1 {
   font-size: 42pt;
   color: darkgreen;
   padding-top: 1em;
   text-align: left;
   // border-bottom: 3px solid #aaa;
}

h2 {
   font-size: 24pt;
   padding-top: 1em;
   border-bottom: 2px solid #ccc;
}

h3 {
   font-size: 20pt;
   padding-top: 0.5em;
   border-bottom: 2px solid #eee;

}

h4 {
   font-size: 16pt;
   padding-top: 0.1em;
   border-bottom: 1px solid #eee;

}

/* some work here */
#table-of-contents {
    background: white;
    height: 60px;
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    z-index: 200;
    margin-left: 15%; margin-right: 15%;
}

#table-of-contents h2 {
    font-size: 0pt;
    visibility: hidden;
    max-width: 8em;
    font-weight: normal;
    padding: 0em;
}

/* navbar stolen from: https://www.servage.net/blog/2009/03/20/create-a-cool-css-based-drop-down-menu/ */
#text-table-of-contents ul {
  font-size: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#text-table-of-contents ul li {
  display: block;
  position: relative;
  float: left;
}
#text-table-of-contents li ul { display: none; }
#text-table-of-contents ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 15px 5px 15px;
  background: #2C5463;
  margin-left: 1px;
  white-space: nowrap;
}
#text-table-of-contents ul li a:hover { background: #617F8A; }
#text-table-of-contents li:hover ul {
  display: block;
  position: absolute;
}
#text-table-of-contents li:hover li {
  float: none;
  font-size: 28px;
}
#text-table-of-contents li:hover a { background: #617F8A; }
#text-table-of-contents li:hover li a:hover { background: #95A9B1; }

#postamble {
   border-top: 1px solid #ccc;
     font-size: 9pt;
     background: #fff; color: #black;
}

img {
    border: 1px solid black;
    max-width: 80%;
    align : center; /* not working yet */
    display : block;
    margin-left : auto;
    margin-right : auto;
    }

.figure p {
    font-size: 10pt;
    color: gray40; /* light grey and block */
    display : block;
    text-align: left; /* not working yet */

}